{% extends "photostock/layout.html" %}

{% block body %}
<div class="row">
    <form method="post">
        {% csrf_token %}
        {% for form in forms %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}                    
                    {{ field.label_tag }}
                    <div class="col">
                        {{ field }}
                    </div>
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" class="btn btn-warning">Confirm changes</button>
    </form>
</div>   
{% endblock %}

{% block scripts %}
            
{% endblock %}