{% extends "layout.html" %}

{% block heading %}
    <br>
    <a href="{{ url_for('book', book_id=book.id) }}">{{book.title}}</a>
    
{% endblock %}

{% block body %}  
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <img width="80%"  src="{{ url_for('static', filename='book.jpg') }}">
            </div>
            <div class="col-sm">
                <h2>Title: {{book.title}}</h2>
                <h3>Author: 
                    <!-- <form action="{{ url_for('search') }}" method="post">
                        <button type="submit" name="your_name" value="your_value" class="btn-link">Go</button>
                    </form> -->
                    {{book.author}}

                </h3>
                <h3>ISBN: {{book.isbn}}</h3>
                <h3>Year: {{book.year}}</h3>
            </div>
        
        </div>
    <br>
    {% block review %}
                
    {% endblock %}
{% endblock %}
