{% extends "orders/layout.html" %}
{% load static %}

{% block heading %}
Menu
{% endblock %}

{% block body %}    
    <div class="container">
        <div class="row">
            <div id="fr" class="col">
                <a href="{% url 'menu' menu_id='Pizza' %}">
                    <img class="img-thumbnail" src="{% static 'orders/Pizza.png' %}">
                    <div class="img_descr">Pizza</div>
                </a>
            </div>            
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'menu' menu_id='Pasta' %}">
                    <img class="img-thumbnail" src="{% static 'orders/Pasta.png' %}">
                    <div class="img_descr">Pasta</div>
                </a>
            </div> 
            <div class="col">
                <a href="{% url 'menu' menu_id='Salad' %}">
                    <img class="img-thumbnail" src="{% static 'orders/Salad.png' %}">
                    <div class="img_descr">Salads</div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'menu' menu_id='Sub' %}">
                    <img class="img-thumbnail" src="{% static 'orders/Sub.png' %}">
                    <div class="img_descr">Subs</div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'menu' menu_id='DinnerPlatter' %}">
                    <img class="img-thumbnail" src="{% static 'orders/DinnerPlatter.png' %}">
                    <div class="img_descr">Dinner platters</div>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
