body {
    font-family: sans-serif;
}

img {
    width: 99%;
    max-height: 60%;
    object-fit: cover;
}

.img_descr {
    text-align: center;
}

#fr {
    height: 40%;
}

#onepic {
    width: 50%;
    max-height: 30%;
    
}